<h2><%= link_to @style.name, styles_url %> gigs for <%= @dj.name %></h2>

<ul id="events">
  <% for event in @events %>
    <li>
      <h3><%= link_to event.name, event_url(event) %></h3>
      <%= image_tag event.flyer %>
    </li>
  <% end %>
</ul>
