/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: .625em;
}

#events li {
  margin-bottom: 5em;
}

img {
  max-width: 60em;
  height: auto;
}

a, a:visited {
  text-decoration: none;
  color: gray;
}
